*.lock
*.log
.DS_Store
.claude/__store.db
.claude/debug
.claude/file-history
.claude/history.jsonl
.claude/local
.claude/plugins/cache
.claude/plugins/known_marketplaces.json
.claude/plugins/marketplaces/superpowers-marketplace
.claude/projects
.claude/settings.local.json
.claude/shell-snapshots
.claude/stats-cache.json
.claude/statsig
.claude/todos
.config/configstore/update-notifier-@google/gemini-cli.json
.config/github-copilot
.config/iterm2
.config/jgit/config
.config/kube
.config/nvim/lazy-lock.json
.config/nvim/lazyvim.json
.config/nvim/lazyvim/lazy-lock.json
.config/nvim/plugin/packer_compiled.lua
.config/pgcli/history
.config/pgcli/log
.config/raycast/extensions
.config/stripe/config.toml
.config/zed/.tmp*
.config/zed/conversations
.config/zed/embeddings
.config/zed/prompts
.config/zed/stable
.gemini/antigravity
.gemini/google_accounts.json
.gemini/installation_id
.gemini/oauth_creds.json
.gemini/settings.json
.gemini/state.json
.gemini/tmp
log
