.DS_Store
*.lock
log
*.log
.claude/__store.db
.claude/projects
.claude/statsig
.claude/todos
.claude/settings.local.json
.config/github-copilot
.config/iterm2
.config/jgit/config
.config/kube
.config/nvim/lazy-lock.json
.config/nvim/lazyvim.json
.config/nvim/lazyvim/lazy-lock.json
.config/nvim/plugin/packer_compiled.lua
.config/raycast/extensions
.config/stripe/config.toml
.config/zed/.tmp*
.config/zed/conversations
.config/zed/embeddings
.config/zed/prompts
.config/zed/stable
.config/pgcli/log
.config/pgcli/history
.claude/local
.claude/shell-snapshots
.gemini/tmp
.gemini/installation_id
.gemini/oauth_creds.json
.gemini/google_accounts.json
